table {
  table-layout: auto;
  width: 90%;
  border-collapse: collapse;
  border: 3px solid yellow;
  background-color: white;
  margin: auto;
}
img {
  padding: 10px;
  margin: 10px;
  width: 80px;
  height: 80px;
  border: 3px solid black;
}
th, td {
  padding: 10px;
  text-align: left;
}
th {
  background-color: orange;
  color: white;
}
html{
  background-color: blue;
  margin: 20px;
  text-align: center;
}
p {
  padding: auto;
  text-align: center;
}
h1 {
  color: white;
  padding: auto;
  text-align: center;
}

