/* spacing */

table {
  table-layout: fixed;
  width: 90%;
  border-collapse: collapse;
  border: 4px solid purple;
  background-color: white;
  margin: auto;
}
td.MP04 {
  background-color: red;
  border: red;
  color: white;
  text-align: center;
}
td.MP06 {
  background-color: purple;
  border: purple;
  color: white;
  text-align: center;
}
td.MP07 {
  background-color: orange;
  border: orange;
  color: white;
  text-align: center;
}
td.MP08 {
  background-color: aquamarine;
  border: aquamarine;
  color: white;
  text-align: center;
}
td.MP12 {
  background-color: yellow;
  border: yellow;
  color: black;
  text-align: center;
}
td.T {
  background-color: gray;
  border: gray;
  color: white;
  text-align: center;
}
td.MP10 {
  background-color: blue;
  border: blue;
  color: white;
  text-align: center;
}

td.patio {
  background-color: green;
  color: white;
  text-align: center;
}
th {
  padding: 20px;
  margin: 20px;
}
th, td {
  padding: 20px;
  border: 1px solid black;
}
html{
  background-color: steelblue;
  margin: 20px;
  text-align: center;
}
p {
  padding: auto;
  text-align: center;
  color: white;
}
h1 {
  padding: auto;
  text-align: center;
  color: white;
}

p, first-child {
  color: lime;
  background-color: black;
  padding: 5px;
}

p, last-child {
  background-color: yellow;
  padding: 5px;
}

    table {
    border-collapse: collapse;
    border: 2px solid rgb(0, 0, 0);
    letter-spacing: 1px;
    font-size: 0.8rem;
    width: 850px;
    margin: auto;
    }
    td, th {
    border: 1px solid rgb(0, 0, 0);
    padding: 20px 25px;
    }
    
    td {
    text-align: left;
    }
    caption {
    padding: 10px;
    }

        
        .table2 tr:nth-child(odd) {
            background-color: silver;
            }
            
            .table2 tr:nth-child(even) {
            background-color: white;
            }
            
            p:first-child{
                color: black;
            }
            p:last-child{
                color: black;
            }
          
body {
     font-family:Monaco,Georgia,Times,serif;
}
